<% layout('layouts/boilerplate') %>
<div class="" id="cluster-map"></div>
<h1>All Campgrounds</h1>
<div></div>
<% for(let campground of campgrounds) { %>
<dic class="card mb-3">
  <div class="row">
    <div class="col-md-4">
      <% if(campground.images.length) { %>
      <img src="<%= campground.images[0].url %>" class="img-fluid" alt="" />
      <% } else { %>
      <img
        src="https://source.unsplash.com/collection/483251"
        class="img-fluid"
        alt=""
      />
      <% } %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= campground.title %></h5>
        <p class="card-text"><%= campground.description %></p>
        <p class="card-text">
          <small class="text-muted"> <%= campground.location %> </small>
        </p>
        <a href="campgrounds/<%= campground._id %>" class="btn btn-primary"
          >View <%= campground.title %>
        </a>
      </div>
    </div>
  </div>
</dic>
<% } %>
<script>
  const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
  const campgrounds = { features: <%- JSON.stringify(campgrounds) %>}
</script>

<script src="/js/clusterMap.js"></script>
